/**** Variables ****/


// Colors
$color-primary: #fff;
$color-secondary: #fff;

$color-white: #fff;
$color-black: #000;
/**** Mixins ****/



/**** Animations ****/
@keyframes fade{
  0%{
    transform: translateY(-25px);
    opacity: 0;
  }

  100%{
    transform: translateY(0);
    opacity: 100;
  }
}

@keyframes expand{
  0%{
    height: 0;
  }

  100%{
    height: 300px;
  }
}
