@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
*{
  font-family: 'Roboto';
}

p, h1, h2,h3,div{
  font-family: 'Open Sans';
}

.heading__primary{
  font-size: 48px;

}

.heading__secondary{
  font-size: 24px;
}

.heading__tertiary{
  font-size: 18px;

}

.paragraph{
  font-size: 1rem;
}