body{
  margin:0;
  padding: 0;
}


.content {
  margin: 1rem;
  text-align: center;

  h1 {
    font-size: 2rem;
    font-family: sans-serif;
  }
  button {
    margin: 4px;
  }
}

p {
  margin:0;
}


.form-item{
  margin-top: 10px
}

h2{
  margin: 0;
}

.order-form{
  &__input{
    width: 100%;
  }
  &__container{
    display: flex;
    width: 100%;
  }
  &__left{
    margin-right: 12px;
  }

  &__right{
    flex-grow: 1;

  }


  

  &__item{
    padding: 10px 0;
    border-bottom: 1px solid #3f3f3f;
    margin-bottom: 8px;
    &-name{
      font-size: 16px;
    }

    &-notes{
      margin-top: 6px;
      margin-left: 14px;
      textarea{
        width: 80%;
        height: 40px;
      }
    }
  }
}

input{
  font-size: 14px;
}

.logo{
  width: 400px;
  margin-bottom: 14px;
}




.button__container {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}




.nav__holder {
  display: flex;
}

.paragraph {
  margin: 0;
  padding: 0;
}

.input{
  font-size: 18px;
  min-width: 300px;
  padding: 6px;
}

.navigation__button {
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2px;
  padding: 8px 10px;
  border-radius: 6px;
  background-color: lightskyblue;

  .paragraph {
    font-size: 18px;
    color: white;
    font-weight: 700;
  }
}


.btn{
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 10px;
  background-color: lightskyblue;
  font-size: 18px;
  color: white;
  font-weight: 700;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.error__box {
  text-align: center;
}

.search__results {
  margin-top: 2rem;
}
.search__input {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#result__table {
  border-collapse: collapse;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  th {
    text-align: center;
    padding: 5px;
  }
  th,
  td {
    text-align: center;
    padding-top: 8px;
  }
  tr {
    border-bottom: 1px lightskyblue solid;
  }
}


.result__item{
  display: flex;
  justify-content: space-between;
  padding: 12px 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid lightskyblue;
}

.result__title{
  min-width: fit-content;
}
.result__date{
  min-width: fit-content;
}
.results__header{
  padding: 6px 10px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: lightskyblue;
  display:flex;
  justify-content: space-between;
  margin-bottom: 10px;
}


.results__header-col{
  color: white;

}

.item{
  margin-bottom: 4px;

  &__info-line{
    display: flex;
    justify-content: space-between;
  }

  &__notes{
    font-style: italic;
    margin-left: 10px;
  }
  &__name{
    min-width: 200px;
  }

  &__info{
    min-width: 120px;
    width: 120px;
    display: flex;
    justify-content: space-between;
  }

  &__price{
    text-align: left;
    margin-right: 20px;
  }
}


.order-info{
  display: flex;
  &__left{
    min-width: 200px;
    max-width: 200px;
    margin: 0 10px;
  }
  &__right{
    flex-grow: 1;
    margin: 0 10px;
  }
}

.order__header{
  padding: 0px 14px;
  display: flex;
  justify-content: space-between;
  button{
    height: fit-content;
    align-self: center;
  }
}
.order__footer{
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  p{
    font-size: 18px;
    font-weight: 700px;
  }

  div{
    margin: 0 4px;
    text-align: right;
  }
}

.infobox{
  margin: 8px 0;
  &__header{
    background-color: lightskyblue;
    padding: 2px 8px;
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px;

    &-title{
      font-size: 16px;
      color: white;
      margin:0;

    }
  }

  .order-list__container{
    min-height: 220px;
    max-height: 220px;
    overflow-y: scroll;
  }

  

  &__content{
    padding: 6px 8px;
    border: 2px solid lightskyblue;
  }
}

.flex{
  margin: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &-col{
    width: calc((100%)/3);
  }
}

.menu-filter-bar{

}

.control-wrapper{
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-button{
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 100;
  color: lightgray;
  position: absolute;
  right: 156px;
  cursor: pointer;
}

.filter-search{
  padding: 8px;
  padding-left: 20px;
  font-size: 20px;
  line-height: 20px;
  width: 300px;
  border-radius:10rem;
  outline: none;
  border: 2px solid lightgrey;
  transition: all .2s ease;
  &:focus{
    border-color: teal;
  }
}

.temp-nav-holder{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}




.menu{
  display:flex;

  &__sidebar{
    height: 100vh;
    width: calc(calc(100% / 12) *3);
    background-color: lightblue;
    min-width: 180px;
    max-width: 240px;
  }

  &__main{
    flex-grow: 1;
    height: 100vh;
    &::-webkit-scrollbar{
      display: none;
    }
    overflow-y: scroll;

  }

  &-filter-bar{
    height: 60px;
  }

  &-categories{
    background-color: lightblue;
    padding-bottom: 18px;
  }

  &-items{
    display: flex;

    flex-wrap: wrap;

  }

  &__item{
    color: white;
    margin: 24px 24px;

    // background-color: teal;
    background: linear-gradient(to top right,teal 40%,	#3b9d9d

    90%);
    border-radius: 6px;
    p{
      padding: 12px;
      font-size: 18px;
      font-family: sans-serif;
    }
  }
}

.category-list-item{
  cursor: pointer;
  padding: 10px 0;
  padding-left: 8px;
  font-family: sans-serif;
  transition: all .1s ease;
  &:hover{
    background-color: teal;
    .heading__secondary{
      color: lightblue;
    }
  }
}

.category-list-item-active{

  .heading__secondary{
    color: lightblue;
  }
  background-color: teal;
}


.heading__secondary{
  color: teal;
  font-weight: lighter;
  font-size: 16px;
  transition: all .1s ease;
}

.menu__btn{
  width: 80px;
  height: 30px;
  color: teal;
  border-radius: 8px;
  font-size: 22px;
  background: transparent;
  border: 2px solid teal;
  display: block;
  transition: all .1s ease;


  &:hover{
    color: lightblue;
    background-color: teal;
  }
}

.u-center-wrapper{
  display: block;
  width: fit-content;
  margin: 0 auto;
}